.main {
    height: 100vh;
}
.box {
    max-height: 600px;
    min-height: 300px;
}
.create-to-do {
    list-style: none;
    line-break: anywhere;
}
.done {
    text-decoration: line-through;
    color: black;
    background-color: #95a5a6 !important;
}